@import "tailwindcss";


body {
  font-family: 'OpenRunde', sans-serif;
}


@font-face {
  font-family: 'OpenRunde';
  src: url('/OpenRunde-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenRunde';
  src: url('/OpenRunde-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenRunde';
  src: url('/OpenRunde-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenRunde';
  src: url('/OpenRunde-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}



.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}


rect.color-filled {
  fill: #27b562e2;
  rx: 2.5px;
  ry: 2.5px;
  stroke: white;
  stroke-width: 1;

}

rect.color-empty {
  fill: rgba(229, 231, 235, 0.6);
  rx: 2.5px;
  ry: 2.5px;
  stroke: white;
  stroke-width: 1;

}


.react-calendar-heatmap-month-label {
  font-size: 0.55rem;
  font-weight: 500;
  fill: oklch(0.707 0.022 261.325);
}