@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

body {
    font-family: "Plus Jakarta Sans", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.color1 {
    color: #f38ba0;
    border-left: 4px #f38ba0 solid;
}
.color2 {
    color: #998bf3;
    border-left: 4px #998bf3 solid;
}
.color3 {
    color: #8bf3bc;
    border-left: 4px #8bf3bc solid;
}
.color4 {
    color: #f3de8b;
    border-left: 4px #f3de8b solid;
}
.color5 {
    color: #8bd4f3;
    border-left: 4px #8bd4f3 solid;
}

.color6 {
    color: #0fc9f2;
    border-left: 4px #0fc9f2 solid;
}

.bgColor1 {
    background-color: #f38ba0;
    border-left: 4px #f38ba0 solid;
}
.bgColor2 {
    background-color: #998bf3;
    border-left: 4px #998bf3 solid;
}
.bgColor3 {
    background-color: #8bf3bc;
    border-left: 4px #8bf3bc solid;
}
.bgColor4 {
    background-color: #f3de8b;
    border-left: 4px #f3de8b solid;
}
.bgColor5 {
    background-color: #8bd4f3;
    border-left: 4px #8bd4f3 solid;
}

.bgColor6 {
    background-color: #0fc9f2;
    border-left: 4px #0fc9f2 solid;
}
